:root {
  /* Color */
  --color-white: #ffffff;
  --color-dark-white: #fef1e6;
  --color-light-orange: #f9d5a7;
  --color-orange: #eb9f76;
  --color-blue: #90aacb;
  --color-black: #161616;
  --color-black-opacity: #161616a2;

  /* Font size */
  --font-large: 36px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 18px;

  /* Font weight */
  --weight-bold: 600;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-black);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: url(img/background.png) center/cover;
  margin: 24px auto 0;
  border-radius: var(--size-border-radius);
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 18px;
}
.game__button {
  width: 40px;
  height: 40px;
  font-size: var(--font-regular);
  border: 3px solid var(--color-black);
  background-color: var(--color-light-orange);
  transition: all 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  margin-top: 8px;
  width: 64px;
  height: 32px;
  line-height: 32px;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  border: 3px solid var(--color-black);
  background-color: var(--color-dark-white);
  border-radius: var(--size-border-radius);
}

.game__score {
  margin-top: 8px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 50%;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  border: 3px solid var(--color-black);
  background-color: var(--color-orange);
  color: var(--color-white);
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.pop-up {
  width: 400px;
  height: 140px;
  text-align: center;
  background-color: var(--color-black-opacity);
  border-radius: var(--size-border-radius);
  margin: auto;
  padding: 20px;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__replay {
  width: 60px;
  height: 60px;
  background-color: var(--color-light-orange);
  font-size: var(--font-large);
  border: 3px solid var(--color-black);
  border-radius: var(--size-border-radius);
  margin-top: 16px;
  transition: all 300ms ease-in;
}

.pop-up__message {
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin-top: 8px;

}